body {
  margin: 0;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App-link {
  color: #61dafb;
}

.Sidebar {
  width: 100%;
}

.Sidebar .nav-item .active {
  /* background-color: #def; */
  font-weight: bold;
  color: #61dafb;
}

@media screen and (max-width < 768px) {
  
}